@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic|Francois+One);

body {font:normal 16px/22px 'Carrois Gothic',Arial,Helvetica;	background:#111;color: #ccc;}

h1,h2,h3,h4,h5,h6{ font-weight:normal;padding: 0;margin: 0;color: #fff;font-family: 'Ubuntu Condensed', sans-serif;}
h1,h2,h3{ font-family: 'Ubuntu Condensed', sans-serif;text-transform: uppercase;}
h4,h5,h6{ font-family: 'Ubuntu Condensed', sans-serif;color: #ccc;}

h3{font-size: 35px;margin-bottom: 20px;color: #666;font-family: 'Monoton', cursive;}
h3 span{font-size: 30px;font-family: 'Monoton', cursive; }
h4{font-size: 23px; margin-bottom:20px;line-height:30px;font-family: 'Ubuntu Condensed', sans-serif;}
h5{font-size: 20px;}

small{color: #777;font-size: 13px;}

p{margin-bottom: 25px;}

blockquote {padding: 0px 20px;margin: 0 0 20px;border-left: 5px solid #aaa;font-size: 14px;line-height: 22px;font-style: italic;font-family: georgia;}

.spacer{padding:55px 0 0 0;}
.center{text-align: center;}
.thumbnail{ background-color:#fff;}



/*home*/
.homeinfo{padding:250px 0 20px 0;}
.homeinfo .player{margin-top: 80px;position: relative;}
.homeinfo .player img.graphics{position: absolute;bottom: 180px;right: -5px;}
.blockblack{background:rgba(0,0,0,0.8); border-radius: 10px; padding: 25px; }
.fronttext h2{font-size:40px; line-height:70px;display: inline-block;padding:5px 10px;font-family: 'Monoton', cursive;}
.fronttext p{margin:0;background-color: rgba(0,0,0,0.7);display: inline-block;padding: 10px;font-family: 'Orbitron', sans-serif;}
.overlay{z-index: 100;position: relative;}
/*home*/

/*color*/
.bgcolor{background-color: #f2ab00;}
.textcolor{color: #f2ab00;}
a{color:#f2ab00; text-decoration:none}
a:hover{color:#fff;text-decoration:none}
/*color*/

#playlist {
    margin-top: 25px;
}

.menu-icon {


    position: fixed;

    top: 20px;
    right: 15px;
    width: 50px;
    height: 44px;
    z-index: 10000;


    padding: 4px 8px;

    box-sizing: border-box;
    cursor: pointer;
}
.menu-icon span {
    width: 100%;
    height: 4px;
    display: block;
    background: white;
    margin: 4px 0;
    transition: .5s;
    z-index: 10000;

}
.sldebar {
    position: fixed;
    top: 0;
    left: -300px;
    width:  250px;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    opacity: 0.9;
    transition: .5s;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    z-index: 10000;



}




.boxed-item {
    font-family: 'Fredericka the Great', cursive;

    padding: 0px 0px 6px 0px;

    line-height: 44px;
    letter-spacing: 1px;
    font-weight: bold;
    font-weight: 200;
    padding: 10px 20px;
    display: inline-block;

    box-sizing: border-box;
    font-size: 33px;
    color: white;
    text-align: center;
    margin-top: 70px;

}


.logo_bold{
    font-weight: 800;

}

.logo_title{
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;


    font-weight: 200;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
}
.sldebar.active {
    left: 0;
}

.sldebar .menu {
    margin: 0;
    padding: 40px 0;
}
.sldebar .menu li {
    list-style: none;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.sldebar .menu li a {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;

    display: block;
    padding: 10px 10px;
    text-transform: uppercase;
    color: white;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;

}
.sldebar .menu li a:hover {
    background-color: #fc2827;
    color: #f3f3f3;
}
.menu-icon.active span{
    position: absolute;
    width: calc(100% - 16px);
    top: calc(50% - 8px);
}
.menu-icon.active span:nth-child(1){
    transform: rotate(45deg);
}
.menu-icon.active span:nth-child(4){
    display: none;
}
.menu-icon.active span:nth-child(3){
    transform: rotate(-45deg);
}
.menu-icon.active span:nth-child(2){
    display: none;
}
.social-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    bottom: 60px;
    display: flex;
    width: 100%;
    padding: 0 1px;
    box-sizing: border-box;

}
.social-icon li {
    width: 20%;
    text-align: center;
    list-style: none;
}
.social-icon li a {
    display: block;
    font-size: 22px;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: .5s;

}



.social-icon li a:hover {
    background: red;

}

/*loading*/









/*releases*/
.releases{margin-bottom: 20px;}
.releases .album{background-color: #222;margin-bottom: 30px;}
.releases .album .albumdetail{padding: 10px;}
.releases .album .albumdetail h5{margin-bottom: 10px;}
.releases .album .albumdetail a{font-size:14px; }
/*releases*/

/*blog*/
.blogevent{color: #ccc;}
.blogevent ul{padding: 0; list-style: none; margin-top: 35px;}
.blogevent ul li{font-size: 15px;}
.blogevent ul li p{margin: 0;line-height: 18px;}

.events ul li{background-color: #191919;margin-bottom: 1px;}
.events ul li h5{margin: 7px 0;}
.events ul li .date{ font-family: 'Bangers', cursive; center;line-height: 38px;color: #444;text-shadow: 0px -1px 0px #000;padding-top: 10px;padding-bottom: 10px;background-color: #111}
.events ul li .date b{display: block;font-size: 40px;font-family: 'Bangers', cursive;}
.events ul li .date span{font-size: 22px;font-family: 'Bangers', cursive;}


.ourblog ul li{margin-bottom: 20px;}
.ourblog ul li img{float: left; margin-right: 20px;}
.ourblog ul li .blogtext{overflow: hidden;}
/*blog*/
 font-family: 'Ubuntu Condensed', sans-serif;

#bi {


     font-family: 'Ubuntu Condensed', sans-serif;

 }



/*modal*/
.modal-dialog{max-width: 800px; width: 95%;}
.modal-content{overflow: auto; padding:0 20px;color: #444;}
.modal-content h2{color: #222;margin: 15px 0;}
button.close{position: absolute;right: 0;background: #FFF;width: 25px;height: 25px;line-height: 9px;}
#blog small{margin-bottom: 10px;display: block;}
/*modal*/



#slova {
    margin-top: 30px;
}

/*contact*/
.contactform textarea,.contactform input{width: 100%;padding:2%;border:1px solid #ccc;margin-bottom: 20px;border-radius: 5px;outline: none;}
.contactform .map{border:none;box-shadow:0;margin-top: 50px;}
.contactform button{border:none;width: 100%; padding: 7px 0;font-size: 25px;}
.contactform iframe{float: left;}
/*contact*/

#footer{ margin-bottom: 15px;
}
#footer{background-color: #000; margin-top: 200px;margin-bottom: 0px; padding: 100px 0; color: #fff; font-size: 14px;color: #aaa; z-index: 100;position: relative;}


/*background slider*/
.carousel{position: fixed; top: 0; left: 0;right: 0;bottom: 0; ;width: 100%;}
.carousel .item {-webkit-transition: opacity 2s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;}
.carousel .active.left {left:0;opacity:0;}
.carousel .next {left:0;opacity:1;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {width: 100%;}
/*background slider*/

/*animation*/
#about,.album,.blogevent ul li,h3,h4{visibility: hidden;}
.animated{visibility: visible !important;}
/*animation*/

@media (max-width: 700px) {
	.homeinfo{padding-top: 100px;}
	.events ul li,.events ul li .date{background: none;}
	.events ul li .date b{display: inline;font-size: 22px;border-right: 1px solid #333;padding-right: 10px;margin-right: 10px;font-family: 'Ubuntu Condensed', sans-serif;}
}
#particles-js{
    background-color: black;

}


#main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px 20px;
    margin-top: 40px;
}

.nav-item {
    position: relative;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 1.5em;
    font-weight: 700;
    color: #595959;
    text-decoration: none;
    line-height: 1.5;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.nav-item:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #595959;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.nav-item.active {
    color: black;
    -webkit-transition: all 350ms;
    transition: all 350ms;
}
.nav-item.active:before {
    width: 100%;
}

.portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.project {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% - 20px);
    flex: 1 0 calc(100% - 20px);
    margin: 10px;
}
.project:hover .project-info {
    background: rgba(89, 89, 89, 0.7);
}
@media (min-width: 520px) {
    .project {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / 2) - 20px);
        flex: 0 0 calc((100% / 2) - 20px);
    }
}
@media (min-width: 860px) {
    .project {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / 3) - 20px);
        flex: 0 0 calc((100% / 3) - 20px);
    }
}

.project-image img {
    display: block;
    width: 100%;
    height: auto;
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px;
    color: #f6f6f6;
    background: rgba(89, 89, 89, 0.8);
    opacity: 0;
    -webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}
.project-info:hover {
    opacity: 1;
}
@media (max-width: 520px) {
    .project-info {
        opacity: .8;
    }
}

.project-info-title {
    margin: 0 0 .5em;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}

.project-info-button {
    padding: .5em 1em;
    color: inherit;
    text-decoration: none;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    -webkit-transition: all 350ms;
    transition: all 350ms;
}
.project-info-button:hover {
    color: #595959;
    background: #f6f6f6;
    border-color: #f6f6f6;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    z-index: 1000;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    z-index: 1000;
}



    form {
        max-width: 600px;
        margin: 0 auto 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    input,textarea{
        border: 2px solid black;
        width: 100%;
    +box-sizing(border-box);
        padding: 12px;
        color: black;
    }
    [type="submit"]{
        margin-top: 10px;
        background:  white;
        color: black;
        font-size: 18px;
        text-transform: uppercase;
    }
    [type="submit"]:hover{
        background: #b0bcd5;
    }






    label {
        display: block;

    }
    span {
        display: block;
    }
    .contact-info-group
    label {
        width: 50%;
        padding-right: 10px;
        float: left;
    }


    &:nth-child(1){
         padding-right: 10px;
     }
    &:nth-child(2){
         padding-right: 10px;
     }
    .submit-wrap {
        text-align: right;

    }
    #map {
        margin-top: 25px;
    }
